<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading text-center">Ratios Financiers</div>


  <!-- List group -->
  <ul class="list-group">
    <ul class="list-group-item active">Analyse Ratios</ul>
    <ul class="list-group-item-info">Equilibre financier : {{ ratios.equilibreFinancier}}</ul>
    <ul class="list-group-item-info">Frais financiers : {{ratios.fraisFinancier}}</ul>
    <ul class="list-group-item-info">Rentabilité Financière  : {{ratios.rentabiliteFinanciere }}</ul>

    <ul class="list-group-item-info">couverture  : {{ratios.couverture }}</ul>
    <ul class="list-group-item-info">Profitabilié  : {{ratios.profitabilite }}</ul>
    <ul class="list-group-item-info">Capacité d'Autifinancement  : {{ratios.capaciteRemboursement }}</ul>
    <ul class="list-group-item-success" >niveau de la masse salarial : {{ratios.poidspersonneldansca }}</ul>
  </ul>
</div>
