
<ul class="nav nav-tabs navbar-inverse">
  <li role="presentation" class="active"><a routerLink="/accueil">Accueil</a></li>

  <li *ngIf="!isAuthenticated()" role="presentation"><a routerLink="/login" >Se connecter</a></li>
  <li *ngIf="isAuthenticated()" role="presentation"><a (click)="logOut()" >Se Déconnecter</a></li>
  <li  role="presentation"><a routerLink="/register/new">Première Inscription</a></li>

  <li  role="presentation"><a routerLink="/credits">Mes Dossiers</a></li>
  <li  role="presentation"><a routerLink="/profil">Tableau de Bord</a></li>
  <li  role="presentation"><a routerLink="/editions">Offres à editer</a></li>
  <li  role="presentation"><a routerLink="/credit/new">Faire une demande de crédit</a></li>
  <li  role="presentation"><a routerLink="/users">liste des utilisateurs</a></li>

</ul>
<router-outlet></router-outlet>


