
<div class="col-md-8">
  <app-view-credit [registrationForm]="registrationForm"></app-view-credit>
</div>


<div class="col-md-4">
  <app-info-credit [creditForm]="registrationForm"></app-info-credit>
</div>

<div class="col-md-4">
  <app-info-assurance [creditForm]="registrationForm"></app-info-assurance>
</div>

<!--
 <div class="col-md-4">
   <nav>
     <ul>
       <a routerLink="detailpret" [formGroup]="registrationForm"></a>
     </ul>
   </nav>
 </div>
<router-outlet></router-outlet>

-->
