<div *ngIf="formSubmitted">
  <h4>Détail bien enregistré</h4>
</div>
<div *ngIf="!formSubmitted">
  <mat-card>
    <mat-card-title><br/> Détail de votre simulation</mat-card-title>
    <mat-card-subtitle> Type de financement : {{creditform.get('details').get('nature').value}}</mat-card-subtitle>
    <mat-card-content>
      <br/> Taux préférentiel : {{creditform.get('reccapitulatif').get('taux').value}} % (taux nominal)
      <br/> Echeance mensuel : {{creditform.get('reccapitulatif').get('echeanceEmprunt').value | currency}}
      <br/> Frais de dossier : Gratuit
      <br/> Assurance du pret : {{creditform.get('assurance').get('assurance').value}}
    </mat-card-content>
    <mat-card-subtitle><br/> Cout global de votre crédit : {{calculCout()}}</mat-card-subtitle>
  <!-- <br/> reference du dossier : {{attributionRefDossier()| uppercase}}-->
  </mat-card>

</div>
<mat-card>
  <mat-card-title>
<div id="reccapitulatif"  [formGroup]="creditform">
  <div class="form-group col-md-8" formGroupName="reccapitulatif">
    <label>Récapitulatif</label>
    <input type="text" class="form-control" formControlName="status">
  </div>
</div>
  </mat-card-title>
<div>
  <mat-card-content>
  <div class="form-group col-md-8" *ngIf="progress==null">
    <input type="file" (change)="onSelectedFile($event)">
  </div>
  <div class="form-group col-md-8" *ngIf="fileUploading==true">
    <p-progressBar [value]="progress"></p-progressBar>
  </div>
  <div class="form-group col-md-8" *ngIf="fileUploading==true && fileUploaded==false">
    <button class="btn btn-success" (click)="uploadFile()">upload</button>
  </div>
  <div class="form-group col-md-8" *ngIf="fileUploaded==true">
    <button  class="btn btn-primary"  matStepperNext (click)="submit()">Valider ma demande de pret</button>
  </div>
  </mat-card-content>
</div>
</mat-card>

